@use "@/styles/base/func" as func;
.imagePage {
// max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
overflow: hidden;
  // padding-inline: func.size(32);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // justify-content: center;
  // align-items: center;
  position: relative;
  .logo {
    padding-block: func.size(45);
    display: flex;
    justify-content: center;
    display: inline-block;
    transform-style: preserve-3d;
    backface-visibility: visible; /* arka yüzü görünür yap */
    animation: spinY 1s ease-out forwards;
    perspective: 1000px;
    img {
      width: func.size(150);
      height: func.size(150);
                          object-fit: contain;

    }
  }
}

.horizontalVideo {
  // padding-inline: func.size(57);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: func.size(10);
  img {
    width: func.size(40.63);
    height: func.size(40.92);
  }
  p {
    font-size: func.size(12.77);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: func.size(-1%);
  }
}
.image {
  // width: 100%;
  // height: auto;
  // overflow: hidden;
  flex: 1; // tüm kalan alanı kaplar
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
    img {
    width: 100%;
    // height: 100%;
        height: 100%;

    object-fit: cover;
  }
}
.button {
  width: 100%;
  // position: absolute;
  // bottom: 0;
  button {
    width: 100%;
    padding-block: func.size(14);
    font-size: func.size(20);
    // font-weight: 500;
    line-height: 150%;
    letter-spacing: func.size(-1%);
    outline: none;
    border: none;
    // border-radius: func.size(12);
    // color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: func.size(12);
    // background-image: url(../../../public/buttonBg.png);
  }
}
.Applebutton {
  width: 100%;
  width: func.size(80);
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  // background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); 
  border-radius: func.size(10); 
  .nextBox {
    width: func.size(120);
    padding-block: func.size(14);
    font-size: func.size(20);
    // font-weight: 500;
    line-height: 150%;
    letter-spacing: func.size(-1%);
    outline: none;
    border: none;
    // border-radius: func.size(12);
    // color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: func.size(12);
    // background-image: url(../../../public/buttonBg.png);
  }
}

.progress {
  position: absolute;
  top: 10px;
  right: 10px;
}
.fadeDown {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeDownAnim 1s forwards;
  animation-delay: 0.3s;
}

@keyframes fadeDownAnim {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
