@use "@/styles/base/func" as func;
.welcomePage {
  // min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  padding-inline: func.size(32);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    padding-block: func.size(45);
    display: flex;
    justify-content: center;
    display: inline-block;
    transform-style: preserve-3d;
    backface-visibility: visible; /* arka yüzü görünür yap */
    animation: spinY 1s ease-out forwards;
    perspective: 1000px;
    img {
      width: func.size(150);
      height: func.size(150);
      object-fit: contain;
    }
  }
  .content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: func.size(20);

    h2 {
      font-size: func.size(24);
      font-weight: 600;
      display: flex;
      flex-direction: column;
      text-align: center;
      line-height: 150%;
      letter-spacing: func.size(-1%);
      span {
        font-weight: 800;
        text-transform: uppercase;
      }
    }
    .textContent {
      display: flex;
      flex-direction: column;
      gap: func.size(20);
      p {
        font-size: func.size(19);
        font-weight: 400;
        line-height: 150%;
        letter-spacing: func.size(-1%);
      }
      .videoLink {
        font-weight: 700;
      }
    }
    .buttonVideo {
      button {
        width: 100%;
        padding-block: func.size(14);
        font-size: func.size(20);
        // font-weight: 500;
        line-height: 150%;
        letter-spacing: func.size(-1%);
        outline: none;
        border: none;
        border-radius: func.size(12);
        // color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: func.size(12);
        // background-image: url(../../../public/buttonBg.png);
      }
    }
  }
  .progress {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.fadeDown {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeDownAnim 1s forwards;
  animation-delay: 0.3s;
}

@keyframes fadeDownAnim {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
