.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
    border: 2px solid #000; /* yeşil çerçeve */
  border-radius: 50%; /* dairesel görünüm */
  padding: 2px; /* iç boşluk */
  box-sizing: border-box;
}

.progressRing {
  transform: rotate(-90deg);
  overflow: visible;
}

.backgroundCircle {
  fill: none;
  stroke: #000;
  stroke-width: 1;
}

.progressCircle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.05s linear;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
}

.timeText {
  font-size: 4px;
  fill: #fff;
  text-anchor: middle;
  transform: rotate(90deg);
  transform-origin: center;
  font-family: "Inter", sans-serif;
}
