:root {
  --blue: #375bb5;
  --white:#ffffff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --text:#333;

}
.dark {
  --blue: #1e1e55;
  --gray: #222;
  --black1: #fff;
  --black2: #bbb;
  --text:#fff;
}
